################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EntityTaggingAPIWP4SUMMA
/__pycache__
